* {
    padding: 0px;
}

body{
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-direction: column;
    color: rgb(170, 39, 39);
    background-image: url("/img/snake.jpg");
    background-repeat: no-repeat;
    background-position: bottom left;
}

.a {
    border: solid blue;
}